input{
    padding: 10px 10px 2px 10px;
    border:none;
    font-size: 20px;
    border-bottom: 3px solid grey;
    width: 100%;
}
input:focus{
    outline: none;
}

[cstinput=dark]{
    background: black;
    color:white;
    border-bottom: 3px solid grey;
   
}
[cstinput=dark]:focus{
border-bottom: 3px solid rgb(232, 232, 232);
background-color:inherit;
}
[cstinput=light]:focus{
    border-bottom: 3px solid rgb(88, 88, 88);
}