$bg-color:black;
$txt-color:white;

//new labadmin
@mixin container($bg-color,$width:70%,$height:60%,$radius:15px)
{
    width:$width;
    height: $height;
    background-color: $bg-color;
    @if $radius !=0 {
        border-radius: $radius;
    }
    color: var($txt-color);
    .svg-fill{
        fill: invert($color: $bg-color);
    }
    .svg-color{
        path{
            stroke:invert($color: $bg-color)
        }
    }
}
.body-feature{
    background: #3e3e3e;
    height: 100%;
    width: 100%;
}
.lq-container{
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.joining-container{
    @include container( rgb(237, 237, 237),85%, 60%);
    display: flex;
    justify-content: space-between;

}
.color-palate{
    display: flex;    
    justify-content: center;
    margin: 0px 10%;
    :first-child{
        border-radius: 5px 0px 0px 5px;
    }
    :last-child{
        border-radius: 0px 5px 5px 0px;
    }
}
.each-palate{
    width:100%;
    height:30px;
}
.join-room{
    background: black;
    width:100%;
    margin:1rem;
    border-radius: 10px;
    display: grid;
    justify-content: center;
    grid-template-rows: 40% 20% 20%;
    gap:2%;
    .header{
        font-family: Ruthless;
        display: flex;
        justify-content: center;
        align-items: center;
        color: whitesmoke;

        h1{
            font-size: 4rem;
        }
    }
    
    app-input-box:last-child{
        // margin-top: 2%;
    }
        
}
.flex-center{
    display:flex;
    align-items: center;
    flex-direction: column;
}
.create-room{
   
    margin:1rem;
    display: grid;
    justify-content: center;
    grid-template-rows: 40% 20% 20%;
    
    .header{
        font-family: Ruthless;
        display: flex;
        justify-content: center;
        align-items: center;
        
        h1{
            font-size: 4rem;
        }
    }
}
.waiting-container{
    @include container(rgb(240, 239, 239),80%,60%);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    .hostname{
        margin-left: 10%;
        margin-top: 10%;
    }
    .player-info{
        display: grid;
    align-items: center;
    grid-template-rows: 5% 20% 60%;
    padding-top: 15%;
    }
    .members{
        gap:10px;
    }

}
.each-member{
    width:50%;
    height:30px;
    text-align: center;
    padding:5px 20px;
    color:black;
    border-radius: 5px;
}
.chips{
    display: flex;
    gap:1rem;
}
.text-center{
    text-align: center;
}
.create-room{
    width:100%
}

.outline{
    outline: 3px solid white;
    z-index: 1;
}
.host-container{
    @include container(#e9ecef,70%,80%);
    .header{
        margin-top: 2%;
    }
    .players-matrix{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3vw;
        margin: 2%;
    }
    .inupt-name{
        margin-top: 3%;
    }
}
.button-lg{
    padding:10px 20px;
    background-color: black;
    color:white;
    border-radius: 1vh;
}

///palates
.color-plalates{
display: grid;
grid-template-columns: repeat(5,1fr);
gap:20px;
width: 50vw;

    
}
.palates{
        display: flex;    
        justify-content: center;
        margin: 0px 10%;
        :first-child{
            border-radius: 5px 0px 0px 5px;
        }
        :last-child{
            border-radius: 0px 5px 5px 0px;
        }
}
.each-palates{
    height: 20px;
    width: 100%;
}

