.linquest{
    margin: 10px;
    position: relative;

    .each-cell{
        // position: absolute;
        // top: 0;
        display: flex;
    }

    .each-row{
       display: flex;
       position: relative;
    }
}

.player-color{
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

.players-tab{
    display: flex;
    align-items: center;
    gap: 10px;
}

.active-user{
    border: 1px solid green;
}

.linquest-container{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.linquest-player{
    position: absolute;
    right: 5px;
    top: 5px;
    width: 250px;
}